
.ansible
generated
litterbox_deploy_key
__pycache__
.idea
.venv
*.swp
litterbox_deploy_key.pub
supervisord.pid 
litterbox-v3.iml
ansible/artifacts
ansible/env
ansible/logs
ansible/queue
ansible/results

ansible_worker.sh
make_ansible_vault_password.sh
sc.sh
scheduler.sh
test.sh
bin/bootstrap_hosts.sh
conf/backups


