---

- name: Ensure /root/.ssh directory exists
  file:
    path: "{{ ssh_dir }}"
    state: directory
    owner: "{{ ssh_user }}"
    group: "{{ ssh_user }}"
    mode: '0700'

- name: Copy sshconfig to {{ ssh_dir }}
  ansible.builtin.copy:
    src: "{{ generated_dir}}/sshconfig/config"
    dest: "{{ ssh_dir }}/config"
    mode: "0644"


