{% extends "base.html" %}

{% block title %}JINJA Template Resolver - LITTERBOX Manager{% endblock %}

{% block content %}

<h2>Registry</h2>



    <div class="row flex-grow-1">
        <div class="col-sm-4 col-md-3 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    Images
                </div>
                <ul class="list-group" id="image-list">
                    <!-- Filled by JavaScript -->
                </ul>
            </div>
        </div>

        <div class="col-sm-8 col-md-9 d-flex">
            <div class="card flex-fill">
                <div id="image-name" class="card-header">
                </div>
                <ul class="list-group" id="tag-list">
                    <!-- Filled by JavaScript -->
                </ul>
            </div>
        </div>
    </div>

    {% include "registry/_details_modal.html" %}


<script>
    const images = JSON.parse('{{ images | tojson | safe }}');
    const getIndexBaseUrl = "{{ url_for('registry.index') }}";
    const deleteTagBaseUrl = "{{ url_for('registry.delete_tag') }}";
    const getImageTagsBaseUrl = "{{ url_for('registry.get_image_tags') }}";
</script>
<script src="{{ url_for('static', filename='global.js') }}"></script>
<script src="{{ url_for('static', filename='registry/images.js') }}"></script>
{% endblock %}