---

- name: Ensure /opt/LITTERBOX/bin exists
  ansible.builtin.file:
    path: /opt/LITTERBOX/bin
    state: directory
    mode: '0755'

- name: Install camera_homeassistant_collector script
  ansible.builtin.copy:
    src: camera_homeassistant_collector.sh
    dest: /opt/LITTERBOX/bin/camera_homeassistant_collector.sh
    mode: '0755'

- name: Cron job for authabitrail
  ansible.builtin.cron:
    name: "camera homeassistant collector authabitrail"
    job: "/opt/LITTERBOX/bin/camera_homeassistant_collector.sh authabitrail"
    minute: "*/5"

- name: Cron job for habitrail
  ansible.builtin.cron:
    name: "camera homeassistant collector habitrail"
    job: "/opt/LITTERBOX/bin/camera_homeassistant_collector.sh habitrail"
    minute: "*/5"
